<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Kantina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script src="../../js/main.js" defer></script>
</head>

<body>

    <header>

        <nav>
            <button class="menu-toggle" aria-label="Abrir menú">
                ☰
            </button>

            <ul class="nav-menu">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre-mi">Sobre mí</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#curriculum">Currículum</a></li>
            </ul>
        </nav>
    </header>

    <section id="skills">
        <h2>Stack tecnológico</h2>
        <div class="skills">
            <picture>
                <!--source srcset="img/html-5.avif" type="image/avif"-->
                <img src="../img/html-5.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/CSS.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/JS.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/react.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/vue.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/node.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/postgreSQL.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/icono-github.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/Figma.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/php.webp" class="icon">
            </picture>
            <picture>
                <img src="../img/Wordpress_Blue_logo.webp" class="icon">
            </picture>
        </div>
    </section>


    <section id="proyectos" class="hidden">
        <h2>Proyecto - Katina</h2>
        <div class="proyecto">
            <h3>Kantina</h3>
            <p class="proyecto-desc">
                Kantina es una aplicación web de gestión de pedidos para un restaurante, desarrollada con React y Node.js.
                Permite a los usuarios realizar pedidos en línea, gestionar el menú y procesar pagos de manera eficiente.
            </p>

            
</body>

</html>